* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  footer {
    background-color: rgb(92, 191, 241);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  fieldset {
      border: none;
  }
  .up {
    color: black;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  footer {
      height: 35vh;
  }
  
  /* left footer styling starts here*/
  
  .footer-left {
      color: black;
  }
  .bt1 {
      border: 1px solid black;
      padding: 10px 50px;
      border-radius: 7px;
  }
  .footer-left p, input, h2{
      margin-bottom: 10px;    
  }
  /* All input was styled here*/
  input {
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid black;
  }
  
  /* footer center styling starts here*/
  .footer-center {
      align-self: flex-end;
      color: black;
      text-align: center;
    }
  
    /* Right footer styling starts here*/
  .footer-right {
      color: black;
    }
  .footer-right label {
      display: block;
      margin-bottom: 10px;
  }
  .bt2 {
      border: 1px solid black;
      padding: 10px 50px;
      border-radius: 7px;
  }