/* For General Styles - Affecting every page */
html,
body {
    font-family: Poppins, Tahoma, sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
    min-width: 1120px;
}

.page {
    background-color: #f5fbfb;
}

.page {
    position: relative;
    z-index: 5;
    margin-bottom: 24rem;
}

.container {
    position: relative;
}

.scroll-btn {
    position: absolute;
    bottom: 120px;
    transform: rotate(90deg);
    text-decoration: none;
    color: #111111;
    font-weight: 600;
    font-size: 1rem;
}


.btn-link {
    text-transform: uppercase;
    color: #006A71;
    text-decoration: none;
}

.btn-link:hover {
    text-transform: uppercase;
    color: #006A71;
    text-decoration: underline;
}

.btn-primary {
    background-color: #006A71;
    border-color: transparent;
    text-transform: uppercase;
    padding: .5rem 1.5rem;
    border-radius: 12px;
}

.btn-primary:hover {
    background-color: #00484d;
    border-color: transparent;
}

.btn-secondary {
    background-color: #FFFFDD;
    color: #111;
    border-color: transparent;
    text-transform: uppercase;
    padding: .5rem 1.5rem;
    border-radius: 12px;
}

.btn-secondary:hover {
    background-color: #ffffb5;
    color: #111;
    border-color: transparent;
}

/* Header styles */
header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;
    background-color: #ffffff;
    text-align: center;
    height: 70px;
    box-shadow: 0 0 5px rgba(17, 17, 17, .2);
}

header .container {
    height: 100%;
}

header .logo {
    position: absolute;
    left: .75rem;
    top: 15px;
}

header .logo img:first-child {
    height: 40px;
    width: auto;
}

header .logo img:last-child {
    height: 18px;
    width: auto;
}

header .request-btn {
    position: absolute;
    right: .75rem;
    top: 14px;
}

header nav {
    padding: 1.35rem 0;
}


header nav a {
    color: #111111;
    text-decoration: none;
    margin: 0 1rem;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 500;
}

header nav a:hover {
    color: #006a71;
}

header nav a.active {
    color: #006A71;
    font-weight: 600;
    border-bottom: 2px solid #006A71;
}

header nav a.active:hover {
    text-decoration: none;
}

footer {
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111;
    color: #fff;
    padding: 4rem 0 3rem 0;
}

footer .newsletter {
    text-align: center;
}

footer .newsletter h4 {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

footer .newsletter form {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 12px;
    padding: .5rem;
}

footer .newsletter form input {
    background-color: transparent;
    border: none;
    border-radius: 0;
    width: calc(100% - 150px);
    padding-left: 1rem;
}

footer .newsletter form input:focus,
footer .newsletter form input:active {
    border: none;
    outline: none;
}

footer .bottom {
    margin-top: 3rem;
    border-top: 1px solid rgba(255, 255, 255, .2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
}

footer .bottom .links a {
    margin-left: 1rem;
    text-decoration: none;
}

footer .bottom .links a:not(.btn) {
    opacity: .5;
}

footer .bottom .links a:hover {
    opacity: 1;
}


footer .bottom .links .social-link img {
    width: 26px;
    height: auto;
}

footer .bottom .copyright {
    font-size: .875rem;
    opacity: .6;
}

footer .bottom .tel {
    font-size: 1.125rem;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    letter-spacing: 6px;
}

footer .bottom .tel:hover {
    color: #ffffb5;
}

.hero-title {
    text-align: center;
    padding-top: 8rem;
}

.hero-title h1 {
    font-size: 3rem;
    font-weight: 800;
    line-height: 100%;
    color: #111111;
}

.hero-title h1 span {
    color: #006a71;
}

.hero-title p {
    padding: 0 10%;
    color: #111111;
    opacity: .8;
}